<a href="https://colab.research.google.com/github/cesarrivera52/1-ExtraccionDatos/blob/main/1_ExtraccionDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

from google.colab import files
files.upload()

In [ ]:
df=pd.read_csv('file.csv')
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
df.head(5)

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000

In [ ]:
#Filtro por objeto
filtro1=df[df['Sexo']== 'Mujeres']
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4545,2022,1,Tamaulipas,Mujeres,148943,624871,23.835799710000000000000
4547,2022,1,Tlaxcala,Mujeres,63801,241052,26.46773310000000000000
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Filtro por objeto
filtro2=df[df['Sexo']== 'Hombres']
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4545,2022,1,Tamaulipas,Mujeres,148943,624871,23.835799710000000000000
4547,2022,1,Tlaxcala,Mujeres,63801,241052,26.46773310000000000000
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Filtro por objeto
filtro1_3=df[df['Entidad_Federativa']== 'Chihuahua']
filtro1_3

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
16,2005,1,Chihuahua,Hombres,203833,828428,24.604793660000000000000
17,2005,1,Chihuahua,Mujeres,121060,392731,30.825170410000000000000
82,2005,2,Chihuahua,Hombres,184094,844239,21.805910410000000000000
83,2005,2,Chihuahua,Mujeres,119483,442409,27.007361970000000000000
148,2005,3,Chihuahua,Hombres,184026,858003,21.448176750000000000000
...,...,...,...,...,...,...,...
4373,2021,3,Chihuahua,Mujeres,214883,662774,32.421760660000000000000
4438,2021,4,Chihuahua,Hombres,282802,1050801,26.912993040000000000000
4439,2021,4,Chihuahua,Mujeres,221225,675538,32.747972730000000000000
4504,2022,1,Chihuahua,Hombres,285714,1041952,27.421032830000000000000
4505,2022,1,Chihuahua,Mujeres,224099,648005,34.582912170000000000000

In [ ]:
#Filtro por filas
#filtro2= df.iloc [[300,302,305],: ]
#comando iloc nos ayuda a diferenciar los filtros de filas y columnas
filtro2= df.iloc [[300,302,305],: ] #Filas no consecutivas
filtro2

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nayarit,2006,1,Hombres,23317,265827,8.7714942420000000000000
Nuevo Le n,2006,1,Hombres,319372,1210555,26.38227920000000000000
Oaxaca,2006,1,Mujeres,138882,603032,23.030618610000000000000

In [ ]:
#Filtro por filas
#filtro2= df.iloc [300:305,: ]
filtro2b= df.iloc [300:305,: ] #Filas consecutivas
filtro2b

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
300,2006,1,Nayarit,Hombres,23317,265827,8.7714942420000000000000
301,2006,1,Nayarit,Mujeres,15862,158653,9.9979199890000000000000
302,2006,1,Nuevo Le n,Hombres,319372,1210555,26.38227920000000000000
303,2006,1,Nuevo Le n,Mujeres,130752,671063,19.484310710000000000000
304,2006,1,Oaxaca,Hombres,61385,871479,7.0437727130000000000000

In [ ]:
#Filtro por columnas
filtro3=df.iloc[ : , 4:7]
#filtro3=df.iloc[ : , [1,4,5]] #columnas no consecutivas
filtro3

,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,4384907,26597801,16.485975660000000000000
1,2690296,14843275,18.124679360000000000000
2,56407,246177,22.913188480000000000000
3,28430,145656,19.518591750000000000000
4,167651,768989,21.801482210000000000000
...,...,...,...
4549,107640,1190733,9.0398099320000000000000
4550,101992,691397,14.751582670000000000000
4551,82759,478943,17.279509250000000000000
4552,44105,402326,10.962503040000000000000
4553,39472,255761,15.43315830000000000000

In [ ]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[[1000,2000,3000], 1:3]
#filtro_mix=df.iloc[:, [1,4,6]] #columnas no consecutivas
filtro_mix

      Trimestre Entidad_Federativa
1000          4           Coahuila
2000          3            Durango
3000          2             M xico

In [ ]:
#Filtros de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded= files.upload()
df=pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)

Saving file.csv to file (1).csv

In [ ]:
#Paso 2: Aplicamos filtros de filas vs columas
filtro4=df.loc[['Puebla','Durango'],['Poblacion_ocupada_en_la_industria_manufacturera']]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Durango                                                      53354
Durango                                                      82494
Durango                                                      57450
Durango                                                      79715
Durango                                                      55750

[276 rows x 1 columns]

In [ ]:
#Filtro 5
#Filtro por cabecera
filtro5=df.head(6)
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000

**Filro básico para variables cuántitativas**

In [ ]:
#Filtro por comparación
filtro6=df[df["Periodo"]>= 2006]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2006,1,Hombres,4377795,26913995,16.265868370000000000000
Nacional,2006,1,Mujeres,2741480,15826941,17.321603710000000000000
Aguascalientes,2006,1,Hombres,58341,256317,22.761268270000000000000
Aguascalientes,2006,1,Mujeres,25737,152027,16.929229680000000000000
Baja California,2006,1,Hombres,156261,779609,20.043508990000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

**Filtros basicos con conectores logicos**

In [ ]:
#Filtro Y
filtro7= df[(df["Periodo"] > 2015) & (df["Sexo"]== "Hombres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2016,1,Hombres,5273207,31481902,16.74996320000000000000
Aguascalientes,2016,1,Hombres,85528,325760,26.254911590000000000000
Baja California,2016,1,Hombres,229108,942502,24.308489530000000000000
Baja California Sur,2016,1,Hombres,18070,221942,8.1417667680000000000000
Campeche,2016,1,Hombres,18511,258864,7.1508591380000000000000
...,...,...,...,...,...,...
Tamaulipas,2022,1,Hombres,237733,953568,24.930891140000000000000
Tlaxcala,2022,1,Hombres,78609,352261,22.31555580000000000000
Veracruz,2022,1,Hombres,185815,2020105,9.1982842480000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000

In [ ]:
#Filtro O
filtro8= df[(df["Periodo"]>2006) | (df["Sexo"]== "Mujeres")]
filtro8

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000
Baja California Sur,2005,1,Mujeres,4103,75648,5.4238049920000000000000
Campeche,2005,1,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Filtro not
filtro9=df[~(df["Periodo"] >= 2006) & ~(df["Sexo"]== "Mujeres")]
filtro9

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
Baja California Sur,2005,1,Hombres,9349,148814,6.2823390270000000000000
Campeche,2005,1,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...
Tamaulipas,2005,4,Hombres,153867,814984,18.879757150000000000000
Tlaxcala,2005,4,Hombres,62629,274862,22.785616050000000000000
Veracruz,2005,4,Hombres,177063,1809574,9.7847891270000000000000
Yucat n,2005,4,Hombres,87066,488417,17.826160840000000000000
Zacatecas,2005,4,Hombres,26631,353848,7.5261129070000000000000

In [ ]:
#Convertir archivo filtro a csv
filtro9.to_csv("Entregable1.csv")

In [ ]:
#Descargar archivo filtrado en csv.
from google.colab import files
files.download("Entregable1.csv")